@page
@model Broker.Pages.Ropes.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rope</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rope.RopeID" />
            <div class="form-group">
                <label asp-for="Rope.Tag" class="control-label"></label>
                <input asp-for="Rope.Tag" class="form-control" />
                <span asp-validation-for="Rope.Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rope.CaptureDate" class="control-label"></label>
                <input asp-for="Rope.CaptureDate" class="list-group-item-action" />
                <span asp-validation-for="Rope.CaptureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
